.wrapper.defense {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--width);
  height: var(--height);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper.attack {
  position: absolute;
  top: 0;
  left: 120px;
  width: var(--width);
  height: var(--height);
}

@keyframes minus {
  0% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.minus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: minus .1s linear forwards;
}

._minus {
  font-size: 72px;
  font-weight: bold;
  color: #ff0000;
  -webkit-text-stroke: 3px #ffffff;
}