.wrapper {
  position: absolute;
  top: -344px;
  left: 50%;
  transform: translateX(-50%);
}

.wrapImg {
  position: relative;
}

.imgHero {
  min-width: 1300px;
}

@keyframes top {

  0%,
  100% {
    top: -354px;
  }

  50% {
    top: -384px;
  }
}

.wrapper {
  animation: top 5s linear infinite;
}