.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 800px;
}

@keyframes animationMap {
  0% {
    transform: rotateX(63deg) translateY(-500px) translateX(-50%) scale(0.2);
  }

  20% {
    transform: rotateX(63deg) translateY(-300px) translateX(-50%) scale(0.7);
  }

  60% {
    transform: rotateX(63deg) translateY(-300px) translateX(-50%) scale(0.7);
  }

  100% {
    transform: rotateX(20deg) translateY(-100px) translateX(-50%) scale(1);
  }
}

.wrapMap {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  width: 1672px;
  transform: rotateX(20deg) translateY(-100px) translateX(-50%) scale(1);
  /* animation: animationMap 5s linear forwards; */
}

@keyframes animationMapImage {

  0% {
    transform: rotate(180deg);
  }

  20% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.mapImage {
  width: 100%;
  transform: rotate(0deg);
  /* animation: animationMapImage 5s linear forwards; */
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: rotateX(20deg) translateY(-100px) translateX(-50%) scale(1.3);
  }

  90% {
    opacity: 0;
    transform: rotateX(20deg) translateY(-100px) translateX(-50%) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: rotateX(20deg) translateY(-100px) translateX(-50%) scale(1);
  }
}

.wrapPlay {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 87%;
  height: 804px;
  transform: rotateX(20deg) translateY(-100px) translateX(-50%) scale(1);
  /* animation: appear 6s linear forwards; */
}

.contentPlay {
  position: relative;
  width: 100%;
  border: 1px solid;
  height: 100%;
}