.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
  box-sizing: border-box;
  z-index: 10;
}

.wrapper {
  width: calc(100% - 500px);
  height: 800px;
  perspective: 800px;
  transition: all 1s linear;
}

.content {
  width: 100%;
  height: 100%;
  transform: rotateX(30deg);
  position: relative;
}

.island {
  position: relative;
  filter: grayscale(100%);
  transition: all 1s linear;
}

.island.hover {
  transform: scale(1.04);
}

.island.active {
  filter: grayscale(0%);
}

.sphere {
  position: absolute;
}

.sphere:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 30px;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 10px solid #FFC700;
  border-radius: 50px;
}

.sphere:after {
  content: '';
  position: absolute;
  left: 25px;
  top: 45px;
  width: 20px;
  height: 20px;
  background: #FFC700;
  border-radius: 50px;
}

/* MAP TITAN */

.mapTitan {
  width: 400px;
  position: absolute;
  left: 200px;
  top: 0px;
}

.mapTitan .sphere {
  top: 70px;
  left: 200px;
}

/* MAP GOD */

.mapGod {
  width: 700px;
  position: absolute;
  right: -32px;
  top: -89px;
}

.mapGod .sphere {
  top: 160px;
  left: 342px;
}

/* MAP HUMAN */

.mapHuman {
  width: 500px;
  position: absolute;
  right: 220px;
  top: 300px;
}

.mapHuman .sphere {
  top: 133px;
  left: 264px;
}

/* MAP UNDEAD */

.mapUndead {
  width: 550px;
  position: absolute;
  left: 100px;
  top: 300px;
}

.mapUndead .sphere {
  top: 193px;
  left: 289px;
}

.route {
  position: absolute;
  bottom: 226px;
  left: 197px;
  width: 135px;
  height: 415px;
  transform: rotate(2deg);
}

.route.titan ._route {
  width: 100%;
  height: 118%;
  position: absolute;
  top: -100px;
  left: 49px;
  transform: rotate(15deg);
}

.route.god ._route {
  width: 100%;
  height: 186%;
  position: absolute;
  top: -644px;
  left: 561px;
  transform: rotate(104deg);
}

.route.human ._route {
  width: 100%;
  height: 106%;
  position: absolute;
  top: -100px;
  left: 696px;
  transform: rotate(4deg) rotateX(180deg);
}

/* --------- */
.cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: .2;
}

.wrapperTransparent {
  width: calc(100% - 500px);
  height: 800px;
  perspective: 800px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* -------------------- */

.wrapper.titan {
  transform: scale(2);
  transform-origin: 411px 76px;
}

.wrapperTransparent.titan {
  transform: scale(2);
  top: 465px;
  left: 549px;
}

/*  */
.wrapper.undead {
  transform: scale(1.7);
  transform-origin: 315px 739px;
}

.wrapperTransparent.undead {
  transform: scale(1.7);
  top: -97px;
  left: 525px;
}

/*  */
.wrapper.god {
  transform: scale(1.7);
  transform-origin: 1802px 75px;
}

.wrapperTransparent.god {
  transform: scale(1.7);
  top: 367px;
  left: -515px;
}

/*  */
.wrapper.human {
  transform: scale(1.7);
  transform-origin: 1985px 875px;
}

.wrapperTransparent.human {
  transform: scale(1.7);
  top: -192px;
  left: -644px;
}

/* -------------- */

.introIsland {
  width: 500px;
  height: 600px;
  position: absolute;
  left: 1097px;
  top: 233px;
  z-index: 2;
  visibility: hidden;
  transform: rotateY(90deg);
  transition: visibility .3s linear, transform 0.5s linear;
}

.introIsland.hidden {
  display: none;
}

.introIsland.active {
  visibility: visible;
  transform: rotateY(0deg);
}

.introIslandContainer {
  width: 410px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.introIslandContent {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.introIslandContent .title {
  font-size: 32px;
  font-weight: bold;
}

.introIslandContent .subTitle {
  font-size: 24px;
  font-weight: 500;
}

.introIslandContent .detail {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid #fff;
  text-align: left;
}

.introIslandContent .detail .level {
  font-size: 18px;
  margin-bottom: 20px;
}

.introIslandContent .detail .level ._level {
  color: #FFC700;
  text-transform: uppercase;
  font-weight: bold;
}

.introIslandContent .detail .text {
  font-size: 16px;
  margin-bottom: 20px;
}

.introIslandContent .btnStart {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  border: 2px solid #FFC700;
  color: #FFC700;
  width: 250px;
  height: 60px;
  border-radius: 0px;
  font-weight: bold;
}

.introIslandContent .btnStart:hover {
  background: #FFC700;
  color: #000;
}