.column {
  width: 100%;
}

.titleSetting {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}