.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.head {
  width: 100%;
  height: 100px;
  background: radial-gradient(45.68% 45.68% at 49.85% 100%, rgba(247, 240, 194, 0.50) 0%, rgba(194, 163, 124, 0.00) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 20px 0px;
  box-sizing: border-box;
  height: calc(100% - 100px);
  overflow: auto;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.numberRank {
  width: 17%;
}

.rank {
  transform: scale(.6);
}

.avatar {
  width: 18%;
}

.info {
  width: 64%;
  padding-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.wrapPoint {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

.point {
  color: #FFC700;
  font-size: 20px;
  font-weight: bold;
}